body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  direction: rtl;
  padding:20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.ant-card{
  width: 450px;
}
.ant-form{
  width: 450px;
  border: 1px solid #ccc;
  border-radius: 15px;
  padding: 15px;
}
.centered-form {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}
